#wrapper {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 21px;
    position: relative;
}
#header {
  /*position: fixed;*/
  background: white;
}
.container_12 #header {
    position: fixed;
}

/*============Logo===========*/
#logo h1, #search h1, #cart h1 {
    text-indent: -9999px;
}
#logo a, #search a, #cart a {
  display: block;
}
#logo a {
    height: 150px;
    width: 283px;
    background: url(../images/logo.png) no-repeat;
}
/*============Logo ends here===========*/

/*============navbar===========*/
#nav ul {
    display: block;
    margin: 20px 0 0 0;
    padding: 0;
}
#nav li {
    display: inline;
    margin: 0;
    padding: 0;
}

#nav li a {
  float: right;
  padding-right: 30px;
  padding-top: 56px;
  font-size: medium;
  color: #95be46;
  text-decoration: none;
  font-weight: bold;
}
#nav li a:hover {
  font-weight: bold;
  color: black;
}
#cart i {
  color: green;
  float: right;
  padding-top: 70px;
}
/*============navbar ends here===========*/

/*======breadcrum=========*/
#breadcrum {
  background: #444443;
  position: initial;
  padding-top: 175px;
}
#breadcrum h3 {
  padding-top: 24px;
  color: #ffffff;
}
#breadcrum .path {
  padding-top: 24px;
  text-align: right;
}
#breadcrum li {
  display: inline;
  margin-left: 20px;
}
#breadcrum li:after {
  content: '\\';
  padding-left: 20px;
  color: #e8e8ea;
}
#breadcrum li:last-child:after {
  content: '';
}
#breadcrum li a {
  text-decoration: none;
  color: #e8e8ea;
  font-weight: 600;

}
#breadcrum li a:hover {
  color: green;
  font-weight: 200;
}
#breadcrum .search {
  padding-top: 24px;
  text-align: center;
}
#breadcrum label {
  text-shadow: 1px 1px 1px white;
}
#breadcrum i {
  color: white;
  font-size: 18px;
}
/*========breadcrum end==========*/

/*============Banner start===========*/
#banner {
  background: azure;
}

#banner h3 {
    color: red;
    text-align: center;
    -webkit-animation-name: offer; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
    animation-name: offer;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes offer {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}

/* Standard syntax */
@keyframes offer {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
#banner img {
  padding-top: 20px;
}
/*========Banner end===============*/
/*=============Category start======*/
#category {
  background: #7ca77e;
}
#category img {
  height: 300px;
  width: 420px;
  margin-left: 20px;
  margin-top: 20px;
}
#category h4 {
  text-align: center;
  color: black;
  padding-top: 10px;
  text-shadow: 1px 2px 0px white;
}
#category a {
  text-decoration: none;
}
#category h4:hover {
  text-shadow: 1px 2px 0px green;
}
/*=============category end===========*/

/*===========footer starts=============*/
#footer {
  background: #2f3330;
}
#footer .social {
  text-align: right;
}
#footer .social li {
  display: inline-block;
}
#footer li a {
  text-decoration: none;
  text-shadow: 1px 2px 2px yellow;
  color: white;
}
#footer .down {
  padding-top: 20px;
}
#footer i {
  color: white;
}
#footer p {
  color: white;
  text-shadow: 1px 2px 2px yellow;
}
/*===========footer starts=============*/

/*=============Category start======*/
#electronics {
  background: #ffffff;
}
#electronics img {
  height: 250px;
  width: 250px;
  padding-top: 20px;
  margin-left: 33px;
}
#electronics h5 {
  text-align: center;
  color: black;
  padding-top: 10px;
  text-shadow: 1px 1px 0px green;
}
#electronics h5:hover {
  text-shadow: 1px 2px 0px yellow;
}
/*=============category end===========*/
