<!DOCTYPE html>
<html>
  <head>
    <title> My Website </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/text.css"/>
    <link rel="stylesheet" href="../css/960_12_col.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
  </head>
  <body>
    <div id="wrapper">
      <div class="container_12 clearfix">
        <div id="header">
          <div id="logo" class="grid_4">
            <h1>
              <a href="#">NeedOnWheels</a>
            </h1>
          </div>
          <div class="grid_6">
            <div id="nav">
              <ul>
                <li><a href="#"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>Signin</a></li>
                <li><a href="#"><i class="fa fa-cog fa-lg" aria-hidden="true"></i>Setting</a></li>
                <li><a href="#"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>Categories</a></li>
                <li><a href="#"><i class="fa fa-home fa-lg" aria-hidden="true"></i>Home</a></li>
              </ul>
            </div>
          </div>
          <div id="cart" class="grid_2">
            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div id="breadcrum">
        <div class="container_12 clearfix">
          <div class="grid_2">
            <h3> Your shop </h3>
          </div>
          <div class="grid_6">
            <div class="search">
              <label for="searchText"> Search Your Product </label>
              <input type="text" name="searchText"/>
              <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          </div>
          <div class="grid_4 path">
            <ul>
              <li><a href="#"> Home </a></li>
              <li><a href="../index.html"> Categories </a></li>
              <li><a href="#"> Electronics </a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container_12">

        <div id="electronics">
          <div class="container_12 clearfix">
            <div class="grid_4">
              <img alt="mobiles" src="../images/mobiles.png"/>
              <h5> Mobiles </h5>
            </div>
            <div class="grid_4">
              <img alt="clothings" src="../images/laptops.jpg"/>
              <h5> Laptops </h5>
            </div>
            <div class="grid_4">
              <img alt="tv" src="../images/tv.jpg"/>
              <h5> Smart TV </h5>
            </div>
          </div>
          <div class="container_12 clearfix">
            <div class="grid_4">
              <img alt="refrigerators" src="../images/freez.jpg"/>
              <h5> Refrigerators </h5>
            </div>
            <div class="grid_4">
              <img alt="washing" src="../images/washing.jpg"/>
              <h5> Washing Machines</h5>
            </div>
            <div class="grid_4">
              <img alt="cooler" src="../images/cooler.jpg"/>
              <h5> Cooler </h5>
            </div>
          </div>
          <div class="container_12 clearfix">
            <div class="grid_4">
              <img alt="camera" src="../images/camera.jpg"/>
              <h5> Camera </h5>
            </div>
            <div class="grid_4">
              <img alt="watch" src="../images/watch.jpg"/>
              <h5> Watches </h5>
            </div>
            <div class="grid_4">
              <img alt="clothings" src="../images/oven.jpg"/>
              <h5> Microwave Oven </h5>
            </div>
          </div>
        </div>

      </div>

      <div id="footer">
        <div class="container_12 clearfix down">
        <div class="grid_4">
          <div class="copyrite">
            <p>Gobinda © All Rights Reserved</p>
          </div>
        </div>
        <div class="grid_2">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
        <div class="grid_2">
          <ul>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="grid_4">
          <div class="social">
            <ul>
              <li><a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      </div>

    </div>
  </body>
</html>
